<app-nav></app-nav>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">Create an account</h4>
        </div>
        <div class="card-body">
          <form class="mt-1" [formGroup]="empForm" (ngSubmit)="addEmployee()">
            <div class="form-row">
              <div class="form-group">
                <label for="first_name">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="first_name"
                  placeholder="Enter first name"
                  formControlName="firstname"
                  [class.is-invalid]="
                    empForm.get('firstname')?.invalid &&
                    empForm.get('firstname')?.touched
                  "
                />
                <div
                  *ngIf="empForm.get('firstname')?.hasError('required')"
                  class="invalid-feedback"
                  class="invalid-feedback"
                >
                  Please enter first name.
                </div>
              </div>
              <div class="form-group">
                <label for="last_name">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="last_name"
                  placeholder="Enter last name"
                  formControlName="lastname"
                  [class.is-invalid]="
                    empForm.get('lastname')?.invalid &&
                    empForm.get('lastname')?.touched
                  "
                />
                <div
                  *ngIf="empForm.get('lastname')?.hasError('required')"
                  class="invalid-feedback"
                  class="invalid-feedback"
                >
                  Please enter last name.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter email"
                formControlName="email"
                [class.is-invalid]="
                  empForm.get('email')?.invalid && empForm.get('email')?.touched
                "
              />
              <div
                *ngIf="empForm.get('email')?.hasError('required')"
                class="invalid-feedback"
              >
                Please enter email address.
              </div>
              <div
                *ngIf="empForm.get('email')?.hasError('email')"
                class="invalid-feedback"
              >
                Please enter a valid email address.
              </div>
            </div>

            <div class="form-group">
              <label for="phone">Password</label>
              <input
                type="tel"
                class="form-control"
                id="phone"
                placeholder="phone"
                formControlName="phone"
                [class.is-invalid]="
                  empForm.get('phone')?.invalid && empForm.get('phone')?.touched
                "
              />

              <div
                *ngIf="empForm.get('phone')?.hasError('required')"
                class="invalid-feedback"
              >
                Please enter password.
              </div>
              <div
                *ngIf="empForm.get('phone')?.hasError('pattern')"
                class="invalid-feedback"
              >
                Enter phone without country Code.
              </div>
            </div>
            <div class="text-center mt-2">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!empForm.valid"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
